p {
    font-size:12px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:normal;
    font-style:normal;
}
h1 {
    font-size:80px;
    color:#EDF2F4;
}
h2 {
    font-size:40px;
    color:#EDF2F4;
}
header,footer,.education {
    padding:30px;
}
header,footer {
    background-color:#2B2D42;
    color: #8D99AE;
    margin:10px;
}
.education {
    background-color:#8D99AE;
}
header {
    margin-bottom:10px;
}
footer {
    margin-top:10px;
}
a:link{
    color:#EF233C;
}