body{
    font-family: Helvetica, Arial, sans-serif;
    font-size:1.8em;
    border: 1px solid #8D99AE;
    padding: 5%;
    border-radius: 12%;
    margin-bottom: 20px;
    background-color: blueviolet;
    color: lightblue;
}
